:root {
    --superset-pink: rgb(255, 0, 137);
    /* --second-color: rgb(38, 42, 44); */
    /* --third-color: rgb(0, 96, 231); */
    --paragraphFontSize: 20px;
}

@font-face {
    font-family: "Xanh";
    src: url("./fonts/XanhMono-Regular.ttf");
}
@font-face {
    font-family: "Xanh Italic";
    src: url("./fonts/XanhMono-Italic.ttf");
}
strong {
    /* font-weight: normal;
    font-family: "Xanh"; */
    /* font-size: var(--paragraphFontSize); */
}

html {
    font-family: sans-serif;
    font-family: "Xanh";
    padding: 0;
    margin: 0;
    /* cursor: url('./icon.png'); */
    /* cursor:all-scroll */
}
.paragraph {
  padding: 0 6%;
  width:60%; 
  margin:auto;
}
strong {
  font-weight: bolder;
}
body {
    background-color: var(--superset-pink);
    color: white;
    text-align: center;
    padding: 0;
    animation-duration: 5s;
    margin: 0;
    animation-duration: 2s;
    animation-delay: .5s;
}
#container {
  margin-top: 16vw;
  padding-top: 20vh;
  position: relative;
  /* background-color: rgba(0,00,255,.4); */
}
#logo-container {
  position: fixed;
  top: 0;
  width: 98%;
  /* background-color: #00fff280; */
  padding: 0;
  margin: 0;
  padding: 1%;
  z-index: 100;
}

/* just in apply */
#logo-small {
  position: fixed;
  top: 3vh;
  left: 3vh;
  width: 10%;
  /* background-color: #00fff280; */
  padding: 0;
  margin: 0;
  z-index: 100;
}

#logo {
  width: 100%;
  padding: 0;
  margin: 0;
  fill: white;
}
/* #logo:hover {
  filter: invert(100%);
} */
.hoverPath {
  animation-duration: 2s;
  animation-delay: .5s;
}

.hoverPath:hover {
  fill: var(--superset-pink);
}
.text1, .text2 {
  color: white;
}
.text1 {
  font-size: 2em;
  font-weight: bold;
  /* text-decoration: none; */
  color: white;
  margin: .2em 0;
}
.text2 {
  font-size: 1.3em;
  font-weight: normal;
  /* text-decoration: none; */
  margin: auto;
  color: white;
}
.link:hover {
  color: black;
}
p span a{
  margin: 0;
}
#ig {
  text-decoration: none;
}

#ig:hover{
    color: #DD2A7B;
    background: #515BD4;
    background: -webkit-linear-gradient(to bottom right, #515BD4 0%, #8134AF 25%, #DD2A7B 51%, #F58529 77%, #FEDA77 100%);
    background: -moz-linear-gradient(to bottom right, #515BD4 0%, #8134AF 25%, #DD2A7B 51%, #F58529 77%, #FEDA77 100%);
    background: linear-gradient(to bottom right, #515BD4 0%, #8134AF 25%, #DD2A7B 51%, #F58529 77%, #FEDA77 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* .tightMarginTop {
  margin-top: -1.5em;
} */
.span {
  margin: 0 1em;
}
.monogram {
  padding:4em;
}
.gapDiv{
  height: 5em;
}
.alignLeft {
  text-align: left;
}
.applyHeader {
  margin-bottom: 1em;
  font-size: 80px;
  letter-spacing: -2px;
}
.applyPar {
  font-family: sans-serif;
  font-weight: 100;
  line-height: 1.3em;
  font-size: 18px;
}
.apBig {
  font-size: 28px;
  width: 60%;
  margin: auto;
}
.moreinfo {
  width: 70%;
  margin: auto;
  text-align: left;
}
.moreinfoBig {
  font-weight: bolder;
  font-size: 24px;
}

button {
	background: var(--superset-pink);
	color: white;
	border: none;
  border-radius: 0;
	padding: .5em .8em;
	font: inherit;
	cursor: pointer;
  outline: white solid 2px;
  /* border: white 2px solid; */
  transition: color .3s linear;
}
button:hover {
	background: white;
	color: var(--superset-pink);
}

#superbullets{
  width:40%; 
  margin-top:-16px;
  text-align: left; 
  margin:auto; 
}
.smallbullets{
  padding-left: 10%; 
  font-size: 15px;
}
#weirddiv{
  height: 0;
}
/* FOR SMALL SCREENS */
@media (max-width:1030px){
  
  #container {
  padding-top: 14vh;
  }
  #logo-container {
  width: 97%;
  padding: 1.5%
  }

  .text1 {
  padding: 0 2%;
  font-size: 5.6em; 
  font-weight: bold;
  /* text-decoration: none; */
  color: white;
  margin: .2em 0;
  }
  .text2 {
  font-size: 3.4em;
  font-weight: normal;
  /* text-decoration: none; */
  color: white;
  }
  .paragraph {
    font-size: 2.2em;
    padding: 0 5%;
    width: 90%;
    /* text-align: left; */
  }
  #subtitle {
    font-size: 3.5em;
  }
  button {
    font-size: 70px;
    margin-top: 1.2em;
    max-width: 80%;
  }
  .monogram {
    padding:15em;
    height: 15vw;
  }
  .gapDiv{
    height: 10em;
  }


  .applyHeader {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 8em;
  }
  .applyPar {
    text-align: center;
    font-family: sans-serif;
    font-weight: 100;
    line-height: 1.3em;
    font-size: 2.2em;
  }
  .apBig {
    font-size: 3.5em;
    width: 90%;
    margin: auto;
  }
  .moreinfo {
    width: 90%;
    margin: auto;
    text-align: left;
  }
  .moreinfoBig {
    font-weight: bolder;
    font-size: 3em;
  }
  #superbullets{
    width:70%; 
    margin-top:-10px
  }
  ul {
    font-size: 1em;
  }
  .smallbullets{
    padding-left: 10%; 
    font-size: 2.2em;
  }
  #weirddiv{
    height: 4em;
  }
}